@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  background: #faf9fa;
  text-align: left
}

.app {
  font-family: 'Open Sans', sans-serif;
}

.col-left{
  width: 200px;
  float: left;
  text-align: center
}

.col-left ul{
  list-style: none;
  text-align: left;
}

.col-left li{
  cursor: pointer;
}

.col-right{
  float: left;
}

.pattern-btn{
  display: block;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 30px;
  text-align: center;
  border-radius: 33px;
  border: none;
  background-color: #00cdac;
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
  outline: none;
}

.board {
  position: relative;
  text-align: center;
  background-color: #CCC;
  background-image:
      linear-gradient(#000 1px, transparent 1px),
      linear-gradient(90deg, #000 1px, transparent 1px);
}

.Cell{
  background: #ccc;
  position: absolute;
  font-size: 35px;
  cursor: pointer;
}